@using Connect4.Web.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Connect4</h1>
<div class="text-center mt-5">
    <p>
        <a asp-controller="Partida" asp-action="Create" class="btn btn-outline-success btn-lg btn-block">🎮 Jugar</a>
    </p>
    <p>
        <a asp-controller="Jugador" asp-action="Index" class="btn btn-outline-primary btn-lg btn-block">👥 Jugadores</a>
    </p>
    <p>
        <a asp-controller="Partida" asp-action="Index" class="btn btn-outline-warning btn-lg btn-block">📜 Partidas</a>
    </p>
    <p>
        <a asp-controller="Jugador" asp-action="Ranking" class="btn btn-outline-info btn-lg btn-block">🏆 Ranking</a>
    </p>
</div>
    <p>Desarrollado por el grupo 1</portal></a>.</p>

</div>
