@model Jugador

@{
    ViewData["Title"] = "Create";
}

<h2>Crear jugador</h2> <div class="container" style="max-width: 500px;"> <form asp-action="Create" method="post"> <div class="mb-3"> <label asp-for="Nombre" class="form-label"></label> <input asp-for="Nombre" class="form-control" /> <span asp-validation-for="Nombre" class="text-danger"></span> </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
